*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
}

body{
    background-color: #ececec;
}

.container{
    width: 100%;
    padding-top: 60px;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
}

header h1, .for, .modal h2{
    font-family: "DotGothic16", sans-serif;
}

header img{
    min-width: 120px;
    max-width: 150px;
    width: 15%;
    margin:auto 0;
}

.for{
    margin:0 auto;
    font-size:1.5rem;
    width: max-content;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal div{
    width: 50%;
    position: relative;
    margin: 10% auto;
    padding: 10px 10px;
    background: #fff;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.modal div img{
    width:20%;
}

.modal div div{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:0;
    margin: 20px 0 20px 0;

}

.modal div div img{
    width: 20%;
    max-width: 50px;
}

.modal div a{
    text-decoration:none;
}

.fechar {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
}


nav{
    width: 70%;
    margin:60px auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

nav a{
    width: 350px;
    text-decoration:none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a div{
    width:100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0 20px 0;
    padding: 20px;
    border-radius: 80px;
}

nav a img{
    width: 30%;
    max-width:250px;
}

nav a p{
    font-family: "DotGothic16", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #000;
    margin: auto 0;
}

footer{
    width: 100%;
    height: 75px;
    background-color: #c5c5c5;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer .copy{
    font-family:"DotGothic16", sans-serif;
    font-size:1.5rem;
}

nav a div:hover{
    background-color: rgba(207, 207, 207, 0.5);
    transition: 0.5s;
}
